appdirs==1.4.3
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
autocommand==2.2.1
Automat==0.7.0
bcrypt==3.1.5
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
elasticsearch==6.3.1
feedparser==5.2.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-SocketIO==3.1.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gsearch==1.6.0
hyperlink==17.3.1
idna==2.8
importlib-metadata==0.8
importlib-resources==1.0.2
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.0
mkl-fft==1.0.10
mkl-random==1.0.2
mock==2.0.0
mongo-connector==3.1.1
more-itertools==4.3.0
nltk==3.4
numpy==1.15.4
oaiharvest==3.0.0
parsel==1.5.1
pbr==5.1.1
pluggy==0.8.1
py==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.3
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymarc==3.1.11
pymongo==3.7.2
pyoai==2.5.0
pyOpenSSL==18.0.0
PySocks==1.6.8
pytest==4.1.1
pytest-runner==4.2
python-dateutil==2.7.5
python-engineio==3.1.0
python-socketio==2.1.2
queuelib==1.5.0
requests==2.21.0
scikit-learn==0.20.2
scipy==1.1.0
Scrapy==1.5.1
service-identity==17.0.0
Sickle==0.6.4
six==1.12.0
SQLAlchemy==1.2.15
Twisted==18.9.0
urllib3==1.24.1
w3lib==1.19.0
Werkzeug==0.14.1
WTForms==2.2.1
zipp==0.3.3
zope.interface==4.6.0
