bcrypt==3.1.6
bson==0.5.7
cffi==1.11.5
Click==7.0
elasticsearch==6.3.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-SocketIO==3.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
nltk==3.4
numpy==1.16.0
pycparser==2.19
python-dateutil==2.7.5
python-engineio==3.3.0
python-socketio==3.1.1
# scikit-learn==0.20.2
# scipy==1.2.0
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.2.16
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
